<div [ngClass]="isGridLayout == true ? 'notes_icons_grid' : 'notes_icons'">
    <button mat-icon-button matTooltip="Remind me" *ngIf="!isTrash"> 
        <img src="/assets/images/add_alert_black.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="Collaborator" *ngIf="!isTrash" (click)="addCollaborator(noteDataObj)"> 
        <img src="/assets/images/add_person.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="Background options" *ngIf="!isTrash" [matMenuTriggerFor]="changecolor"> 
        <img src="/assets/images/palette_black.svg" width="20px" height="20px">
    </button>
    <mat-menu #changecolor="matMenu">
        <div fxLayout="row wrap" class="color_palette">
            <div *ngFor="let noteColor of colorsPaletteArr" class="note-color">
                <button class="color" mat-icon-button mat-raised-button [matTooltip]="noteColor.name" [ngStyle]="{ 'background-color': noteColor.color }" (click)="changeNotesColor(noteColor?.color)"></button>
            </div>
        </div>
    </mat-menu>
    <button mat-icon-button matTooltip="Add image" *ngIf="!isTrash">    
        <img class="image_uploader" src="/assets/images/image_black.svg" width="20px" height="20px">
        <input type='file' accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)" style="opacity: 0; margin-left: -30px; width: 28px;"> 
    </button>
    <button mat-icon-button *ngIf="!isArchive && !isTrash" matTooltip="Archive" (click)="changeArchiveStatus(noteDataObj)"> 
        <img src="/assets/images/archive_black.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button *ngIf="isArchive && !isTrash" matTooltip="Unarchive" (click)="changeArchiveStatus(noteDataObj)"> 
        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSIjMDAwIj4KICA8cGF0aCBkPSJNMjAuNTQgNS4yM2wtMS4zOS0xLjY4QzE4Ljg4IDMuMjEgMTguNDcgMyAxOCAzSDZjLS40NyAwLS44OC4yMS0xLjE2LjU1TDMuNDYgNS4yM0MzLjE3IDUuNTcgMyA2LjAyIDMgNi41VjE5YzAgMS4xLjkgMiAyIDJoMTRjMS4xIDAgMi0uOSAyLTJWNi41YzAtLjQ4LS4xNy0uOTMtLjQ2LTEuMjd6TTYuMjQgNWgxMS41MmwuODMgMUg1LjQybC44Mi0xek01IDE5VjhoMTR2MTFINXptMy01LjVsNC00IDQgNC0xLjQxIDEuNDFMMTMgMTMuMzNWMTdoLTJ2LTMuNjdsLTEuNTkgMS41OUw4IDEzLjV6Ii8+Cjwvc3ZnPgo=" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="Delete Forever" (click)="deleteNote()" *ngIf="isTrash"> 
        <img src="/assets/images/delete_forever.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="Restore" (click)="changeTrashStatus(noteDataObj)" *ngIf="isTrash"> 
        <img src="/assets/images/restore_from_trash.svg" width="20px" height="20px">
    </button>
    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu" *ngIf="!isTrash">
        <img src="/assets/images/more_vert.svg" width="20px" height="20px">
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeTrashStatus(noteDataObj)">Delete note</button>
        <button mat-menu-item (click)="deleteNotesImage(noteDataObj)">Remove Image</button>
    </mat-menu>
</div>