.notes_icons {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    width: 100%;
}

button {
    opacity: 0.7;
}

button:hover {
    background-color: rgba(0, 0, 0, .1);
    opacity: 1;
}

::ng-deep .mat-menu-panel {
    min-height: 45px !important;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

::ng-deep .mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: #fb0 !important;
    background: transparent;
}