<div class="container">
    <div class="container_content">
        <div class="container_wrapper">
            <!-- <img class="signin_logo" src="../../../assets/images/logo.svg" alt="" /> -->
            <div class="form-head" style="font-weight:500">
                <p class="head_bounce" style="font-size: 30px ; color: #4285F4">F</p>
                <p class="head_bounce" style="font-size: 30px ; color: #EA4335">u</p>
                <p class="head_bounce" style="font-size: 30px ; color: #FBBC05">n</p>
                <p class="head_bounce" style="font-size: 30px ; color: #4285F4">d</p>
                <p class="head_bounce" style="font-size: 30px ; color: #34A853">o</p>
                <p class="head_bounce" style="font-size: 30px ; color: #EA4335">o</p>
            </div>
            <h1 class="container_title">Forgot Password</h1>
            <p class="container_subtitle">Enter your email to reset password</p>
            <form class="container_form">
                <mat-form-field appearance="outline" class="email_input ">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="">
                    <!-- <mat-hint>You can use letters, numbers & periods</mat-hint> -->
                </mat-form-field>
                <div class="forgot_email">
                    <a href="#" class="">Forgot Email..??</a>
                </div>
                <div class="container_infotext">
                    Not your computer? Use guest mode to sign in privately.
                    <a href="https://support.google.com/chrome/answer/6130773?hl=en-GB" target="_blank" rel="noreferrer">
                        Learn More
                    </a>
                </div>
                <div class="container_buttons_container">
                    <button mat-button class="btn-basic container_button text_bold">Create Account</button>
                    <button mat-raised-button class="btn-primary container_button prime_button" color="primary">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>