.container_content {
    width: 400px;
    height: 50vh;
}

.forgot_email>a {
    display: flex;
    color: #1a73e8;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4286;
    justify-self: start;
    margin-top: -18px;
    padding: 5px 8px 5px 8px;
    margin-left: -5px;
}

.text_bold {
    font-weight: 500 !important;
    padding: 0 10px 0 10px !important;
    margin-left: -8px !important;
    color: #1a73e8;
}

.text_bold:hover {
    border-radius: 5px;
    text-transform: none;
    color: #174ea6;
    background-color: #f3f9ff;
}

@media (max-width: 376px) {
    .container_content {
        margin-top: 15vh !important;
    }
}

@media (max-width: 600px) {
    .container {
        height: 100vw;
    }
    .container_wrapper {
        margin-top: 30vh !important;
        align-items: center;
        justify-content: center;
    }
    .container_form {
        width: 80vw;
        padding: 20px;
    }
    .container_content {
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 950px) {
    .container_wrapper {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .signin_content {
        height: 55vh !important;
        width: 55vw;
        padding: -10;
    }
}

@media (max-width: 1025px) {
    .container_wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .signin_content {
        height: 68vh;
        width: 55vw;
    }
}