.takeNoteContainer {
    width: 80%;
    margin-bottom: 0px;
    margin: 30px 0 60px 0;
    padding: 10px;
}

.takenoteone {
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 52%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 5px 16px 6px 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 30%;
}

.noteone_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    height: 100%;
}

.noteone_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}

.content {
    border: none;
    outline: none;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #202124;
    width: 100%;
    opacity: 0.8;
}

button:hover {
    background-color: rgba(0, 0, 0, .1);
}

.mat-icon-button {
    opacity: 0.5;
}

.mat-icon-button:hover {
    opacity: 1;
}

.takenotetwo {
    display: flex;
    border: 1px solid transparent;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 55.1%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    padding: 5px 16px 6px 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 30%;
}

.notetwo_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.notetwo_middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    height: 30%;
}

.notetwo_bottom {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.title {
    flex: 0.9;
}

.description {
    flex: 0.9;
}

.note_title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: medium;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 10px;
}

.note_description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-around;
    font-size: 14px;
    border: none;
    outline: none;
    width: 100%;
}

::ng-deep textarea {
    resize: none !important;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* user can resize vertically, but width is fixed */
}

.closebutton {
    border: none;
    outline: none;
    background-color: transparent !important;
    color: rgba(0, 0, 0, .87) !important;
    text-transform: capitalize !important;
    padding: 5px 20px !important;
}

.closebutton:hover {
    background-color: rgba(0, 0, 0, .04) !important;
}

.undo_icon {
    opacity: 1;
}

::ng-deep .alert-title {
    font-family: Roboto !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
    letter-spacing: 0.1rem !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
    // text-align: center !important;
}

::ng-deep .alert-message {
    font-family: Roboto !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    letter-spacing: 0.1rem !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
}

::ng-deep .ngx-toastr {
    width: 70% !important; // Specify toastr-dialog width for all devices
    border-radius: 10px !important;
}

::ng-deep .success {
    background-color: #0F9D58;
}

::ng-deep .error {
    background-color: #f44336;
}

@media (max-width: 1100px) {
    .takenoteone {
        width: 70%;
        margin-left: 20%;
    }
    .takenotetwo {
        width: 74.1%;
        margin-left: 20%;
    }
    .undo_icon {
        margin-left: -10px;
    }
}

@media (max-width: 849px) {
    .takenoteone {
        width: 90%;
        margin-left: 8%;
    }
    .takenotetwo {
        width: 94.1%;
        margin-left: 8%;
    }
    .undo_icon {
        margin-left: -10px;
    }
}

@media (max-width: 691px) {
    .takenoteone {
        width: 105%;
        margin-left: -20px;
    }
    .takenotetwo {
        width: 113.1%;
        margin-left: -20px;
    }
    .undo_icon {
        padding-left: 15px !important;
        opacity: 1;
    }
    .note_description {
        margin-top: 10px;
    }
    .notetwo_bottom {
        margin-left: -15px;
    }
}

@media (max-width: 600px) {
    .takenoteone {
        width: 110%;
    }
    .takenotetwo {
        width: 118.1%;
    }
    .notetwo_bottom {
        margin-left: -10px;
    }
}