<div class="takeNoteContainer">
    <div *ngIf="!isExpand" (click)="noteStatus()">
        <mat-card class="takenoteone" fxlayout="column">
            <div class="noteone_left">
                <div class="content">
                    Take a note...
                </div>
            </div>
            <div class="noteone_right">
                <button mat-icon-button matTooltip="New list">
                    <img src="../../../assets/images/check_box_black_24dp.svg" />
                </button>
                <button mat-icon-button matTooltip="New note with drawing">
                    <img src="../../../assets/images/brush_black_24dp.svg" />
                </button>
                <button mat-icon-button matTooltip="New note with image">
                    <img src="../../../assets/images/image_black.svg" />
                </button>
            </div>
        </mat-card>
    </div>
    <div *ngIf="isExpand">
        <mat-card fxLayout="column" fxFlex="125" class="takenotetwo">
            <div class="notetwo_top">
                <div class='title'>
                    <textarea class="note_title" placeholder="Title" (keyup)="checkTitle($event)" [(ngModel)]="noteInput.Title" (click)="onTitleClick()"></textarea>
                </div>
                <div *ngIf="isPin">
                    <button *ngIf="isPin" mat-icon-button matTooltip="unpin note" (click)="handlePin()" class="pin-button">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
                <div *ngIf="!isPin">
                    <button *ngIf="!isPin" mat-icon-button matTooltip="pin note" (click)="handlePin()" class="pin-button">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
            </div>

            <div class="notetwo_middle">
                <div class='description'>
                    <textarea class="note_description" placeholder="Take a note...." (keyup)="checkDescription($event)" [(ngModel)]="noteInput.Description" (click)="onDescriptionClick()"></textarea>
                </div>
            </div>

            <div class="notetwo_bottom" fxLayout="row">
                <div class="undo_icon" fxLayout="row">
                    <app-icons></app-icons>
                    <button mat-icon-button matTooltip="Undo" (click)="handleUndoDisable()" [disabled]="isUndoDisabled">
                    <mat-icon>undo</mat-icon>
                </button>
                    <button mat-icon-button matTooltip="Redo" (click)="handleRedoDisable()" [disabled]="isRedoDisabled">
                    <mat-icon>redo</mat-icon>
                </button>
                </div>
                <button class="closebutton" mat-flat-button (click)="isExpand=!isExpand" (click)="addNote()">Close</button>
            </div>
        </mat-card>
    </div>
</div>