<div class="display_note">
    <div class='note' *ngFor="let noteData of userNoteList">
        <div class='note_titles' fxLayout="row" fxLayoutAlign="space-between center">
            <div class='note_title' (click)="openDialog(noteData)">{{noteData.title}}</div>
            <div class='pushpin'>
                <div>
                    <button *ngIf="noteData.isPinned" mat-icon-button matTooltip="unpin note" (click)="handlePin(noteData)">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
                <div>
                    <button *ngIf="!noteData.isPinned" mat-icon-button matTooltip="pin note" (click)="handlePin(noteData)">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
            </div>
        </div>

        <div class='notes_description' fxLayout="row" (click)="openDialog(noteData)">{{noteData.description}}</div>

        <div class="note_icons" fxLayout="row">
            <app-icons class="note_icon" [noteDataObj]="noteData" (changeNoteEvent)="refreshUpdatedNoteData($event)"></app-icons>
        </div>
    </div>
</div>