<div class="display_note" (click)="noteClicked()">
    <div class='note' *ngFor="let noteData of userNoteList | filter : searchString" [ngStyle]="{ 'background-color': noteData.color }">
        <div class="noteimage">
            <div fxLayout="row" *ngFor="let noteDataImage of noteData.imageList">
                <img [src]="noteDataImage?.imageUrl" width="100%" style="border-radius: 7px 7px 0px 0px">
            </div>
        </div>
        <!-- <img [src]="noteData.imageList?.[0]?.imageUrl" width="100%" style="border-radius: 7px 7px 0px 0px"> -->
        <div class='note_titles' fxLayout="row" fxLayoutAlign="space-between center">
            <div class='note_title' (click)="openDialog(noteData)">{{noteData.title}}</div>
            <div class='pushpin'>
                <div>
                    <button *ngIf="noteData.isPinned" mat-icon-button matTooltip="unpin note" (click)="handlePin(noteData)">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
                <div>
                    <button *ngIf="!noteData.isPinned" mat-icon-button matTooltip="pin note" (click)="handlePin(noteData)">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==" />
                    </button>
                </div>
            </div>
        </div>
        <div class='notes_description' fxLayout="row" (click)="openDialog(noteData)">{{noteData.description}}</div>
        <div fxLayout="row" class="collabImage">
            <div *ngFor="let collabUser of collabUsersList">
                <div *ngIf="collabUser.noteId === noteData.notesId" class="collabName">
                    <ngx-avatar [style]="customStyle" size="30" name="{{collabUser.firstName}}"></ngx-avatar>
                </div>
            </div>
        </div>
        <div [ngClass]="isIconVisible == true ? 'note_icons_visible' : 'note_icons'" fxLayout="row">
            <app-icons class="note_icon" [noteDataObj]="noteData" (changeNoteStatus)="refreshUpdatedNoteData($event)"></app-icons>
        </div>
    </div>
</div>