.notesContainer_Main {
    align-items: center;
}

.displayNotes {
    flex-wrap: wrap;
    margin-left: 150px;
    margin-bottom: 10px;
}

.noteHeading {
    font-size: 12px;
    text-transform: uppercase;
    margin: 15px 0 0 10px !important;
}

@media (max-width: 600px) {
    .displayNotes {
        margin-left: 0px;
    }
}

@media (max-width: 800px) {
    .displayNotes {
        margin-left: 100px;
    }
}