<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="pagenotfound" fxLayout="column" style="background-color: rgb(255, 255, 255); height: 50%; width: 50%; justify-content: space-between; align-items: center; padding: 50px; border: 1px solid #0F9D58">
        <div fxLayout="row" style="margin-bottom: 10px">
            <p class="head_bounce" style="font-size: 35px ; color: #4285F4; font-weight:500">F</p>
            <p class="head_bounce" style="font-size: 30px ; color: #DB4437; font-weight:500">u</p>
            <p class="head_bounce" style="font-size: 35px ; color: #F4B400; font-weight:500">n</p>
            <p class="head_bounce" style="font-size: 30px ; color: #4285F4; font-weight:500">d</p>
            <p class="head_bounce" style="font-size: 35px ; color: #0F9D58; font-weight:500">o</p>
            <p class="head_bounce" style="font-size: 30px ; color: #DB4437; font-weight:500">o</p>
        </div>
        <div style="margin-top: 20px">
            <span style=" font-size: 100px; color: #DB4437;">4</span>
            <span style=" font-size: 100px; color: #F4B400;">0</span>
            <span style=" font-size: 100px; color: #DB4437;">4</span>
        </div>
        <div style="text-align: center; font-size: 20px; color: #4285F4;">
            The Page You Requested Could Not Be Found
        </div>
        <div>
            <button mat-raised-button routerLink="/login" type="submit" class="pagenoutfound_button" style="width: 150px; color:#0F9D58;">Go To Login</button>
        </div>
    </mat-card>
</div>